In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
arr1 = np.arange(9).reshape(3,3)
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [3]:
np.concatenate([arr1,arr1],axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [4]:
np.concatenate([arr1,arr1],axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [5]:
ser1 = Series([0,1,2],index=['T','U','V'])
ser2 = Series([3,4],index=['X','Y'])
ser1
ser2

X    3
Y    4
dtype: int64

In [6]:
ser1

T    0
U    1
V    2
dtype: int64

In [7]:
pd.concat([ser1,ser2])

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [8]:
pd.concat([ser1,ser2],axis=1)

    0   1
T   0 NaN
U   1 NaN
V   2 NaN
X NaN   3
Y NaN   4

In [9]:
pd.concat([ser1,ser2],keys=['cat1','cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [10]:
dframe1 = DataFrame(np.random.randn(4,3),columns=['X','Y','Z'])
dframe2 = DataFrame(np.random.randn(3,3),columns=['Y','Q','X'])

In [11]:
dframe1

          X         Y         Z
0 -2.470198 -1.411864  0.484408
1  1.037064  0.751063  1.023879
2 -0.993468 -0.695387  0.827368
3  0.297583  1.456100 -0.695264

In [12]:
dframe2

          Y         Q         X
0 -1.537452 -2.103668 -0.859123
1 -1.836296  0.739390  0.009897
2 -0.198037  0.988746  1.695463

In [13]:
pd.concat([dframe1,dframe2])

          Q         X         Y         Z
0       NaN -2.470198 -1.411864  0.484408
1       NaN  1.037064  0.751063  1.023879
2       NaN -0.993468 -0.695387  0.827368
3       NaN  0.297583  1.456100 -0.695264
0 -2.103668 -0.859123 -1.537452       NaN
1  0.739390  0.009897 -1.836296       NaN
2  0.988746  1.695463 -0.198037       NaN

In [14]:
pd.concat([dframe1,dframe2],ignore_index=True)

          Q         X         Y         Z
0       NaN -2.470198 -1.411864  0.484408
1       NaN  1.037064  0.751063  1.023879
2       NaN -0.993468 -0.695387  0.827368
3       NaN  0.297583  1.456100 -0.695264
4 -2.103668 -0.859123 -1.537452       NaN
5  0.739390  0.009897 -1.836296       NaN
6  0.988746  1.695463 -0.198037       NaN

In [15]:
url = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.tools.merge.concat.html'