In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
ranger = range(15)

In [9]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [10]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
dframe = DataFrame(randn(25).reshape(5,5),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -1.273300 -0.057376 -2.316335 -1.370890  1.131485
B -0.993019  1.039761 -1.358234  0.387289 -1.119320
D  1.061325 -0.121865  0.343632 -1.336727  0.938235
E  0.168730 -0.603229 -1.545764 -0.927064 -0.309736
F  0.149724 -1.650792  0.189866  0.793063 -1.215663

In [12]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [13]:
dframe2

       col1      col2      col3      col4      col5
A -1.273300 -0.057376 -2.316335 -1.370890  1.131485
B -0.993019  1.039761 -1.358234  0.387289 -1.119320
C       NaN       NaN       NaN       NaN       NaN
D  1.061325 -0.121865  0.343632 -1.336727  0.938235
E  0.168730 -0.603229 -1.545764 -0.927064 -0.309736
F  0.149724 -1.650792  0.189866  0.793063 -1.215663

In [14]:
new_columns = ['col1','col2','col3','col4','col5','col6']
new_columns

['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [15]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.273300 -0.057376 -2.316335 -1.370890  1.131485   NaN
B -0.993019  1.039761 -1.358234  0.387289 -1.119320   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.061325 -0.121865  0.343632 -1.336727  0.938235   NaN
E  0.168730 -0.603229 -1.545764 -0.927064 -0.309736   NaN
F  0.149724 -1.650792  0.189866  0.793063 -1.215663   NaN

In [16]:
dframe

       col1      col2      col3      col4      col5
A -1.273300 -0.057376 -2.316335 -1.370890  1.131485
B -0.993019  1.039761 -1.358234  0.387289 -1.119320
D  1.061325 -0.121865  0.343632 -1.336727  0.938235
E  0.168730 -0.603229 -1.545764 -0.927064 -0.309736
F  0.149724 -1.650792  0.189866  0.793063 -1.215663

In [17]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -1.273300 -0.057376 -2.316335 -1.370890  1.131485   NaN
B -0.993019  1.039761 -1.358234  0.387289 -1.119320   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.061325 -0.121865  0.343632 -1.336727  0.938235   NaN
E  0.168730 -0.603229 -1.545764 -0.927064 -0.309736   NaN
F  0.149724 -1.650792  0.189866  0.793063 -1.215663   NaN